@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 26, 26, 26;
  --background-secondary: 245, 245, 245;
  --text: 245, 245, 245;
  --text-secondary: 245, 245, 245;
  --accent: 79, 194, 185;
  --button: 245, 245, 245;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-custom-background text-custom-text z-[-2]  bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))];
}

/* UTILS----------------------- */

h2 {
  @apply font-bold uppercase text-2xl;
}

p{
  @apply max-w-prose
}

button {
  @apply md:bg-custom-button/10 bg-custom-accent py-2 px-4 rounded-lg ring-inset ring-1 ring-custom-background/5 scale-100 hover:bg-custom-accent hover:text-custom-text-secondary;
}

a {
  @apply capitalize;
}

/* ---------------------------- */

.header {
  @apply fixed top-0 left-0 w-full h-20 px-10 flex items-center justify-between z-10 bg-gradient-to-b from-custom-background to-custom-background/0;
}

.navbar > ul {
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-custom-button/10 rounded-2xl ring-inset ring-1 ring-custom-background/5 scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter] duration-500 md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-0 md:visible md:scale-100 backdrop-blur-2xl;
}

.navbar.active > ul {
  @apply opacity-100 scale-100 blur-0 visible;
}

.nav-link {
  @apply grid items-center rounded-lg h-9 px-4 text-sm font-medium tracking-wide text-custom-text text-opacity-50 transition-colors duration-500;
}

.nav-link.active {
  @apply text-custom-text-secondary bg-custom-accent rounded-lg -z-10 transition-[opacity] duration-500;
}

section {
  @apply flex flex-col items-center justify-center p-12 h-[70vh];
}

.socailMedia > ul {
  @apply flex flex-row my-5 space-x-5 text-3xl hover:text-custom-accent;
}
