@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: 'Poppins', sans-serif;
  --transition-smooth: all 0.5s ease-in-out;

  --animate-fade-in: fade-in 1.5s linear normal forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-scale: scale-in 0.5s linear 0.2s forwards;
  @keyframes scale-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  --animate-scrolling: scrolling 2s linear infinite;
  @keyframes scrolling {
    0% {
      opacity: 0;
      transform: translateY(-15px);
    }

    100% {
      opacity: 1;
      transform: translateY(10px);
    }
  }
}
@utility transition-smooth {
  transition: var(--transition-smooth);
}
* {
  @apply box-border scroll-smooth;
}

body {
  @apply scroll-smooth font-body m-0 px-6 max-w-screen
bg-gradient-to-br from-neutral-50 via-cyan-50 to-slate-100
text-neutral-900;
  @variant dark {
    @apply from-neutral-950 via-slate-900 to-neutral-950  
    text-neutral-100;
  }
}

h1 {
  @apply text-4xl tracking-wider;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg pb-1.5;
}
h4 {
  @apply text-lg;
}

h1,
h2,
h3 {
  @apply capitalize font-bold;
}
p {
  @apply text-sm max-w-[550px];
}

.secondary-paragraph {
  @apply text-neutral-600;
  @variant dark {
    @apply text-neutral-400;
  }
}
section {
  @apply flex flex-col items-center py-12;
}
article {
  @apply flex flex-col items-center mt-17;
}

footer {
  @apply absolute left-0 right-0 w-full px-6 py-10
  border-t border-gray-200 
  text-sm;
  @variant dark {
    @apply border-gray-800;
  }
}

.gradient-text {
  @apply tracking-wider font-bold drop-shadow-lg
       bg-gradient-to-r from-cyan-500 via-blue-500 to-indigo-600 
       bg-clip-text text-transparent transition-smooth;
  @variant dark {
    @apply from-cyan-400 via-sky-400 to-blue-500;
  }
}
.gradient-text-hover {
  @apply transition duration-600 
  hover:drop-shadow-md
  hover:bg-gradient-to-r hover:from-cyan-500 hover:via-blue-500 hover:to-indigo-600 
     hover:bg-clip-text hover:text-transparent;
  @variant dark {
    @apply hover:from-cyan-400 hover:via-sky-400 hover:to-blue-500;
  }
}
.gradient-underline {
  @apply bg-gradient-to-r from-cyan-500 via-blue-500 to-indigo-600 
       bg-clip-content;
  @variant dark {
    @apply from-cyan-400 via-sky-400 to-blue-500;
  }
}

.projectCard {
  @apply bg-white rounded-xl shadow-sm overflow-hidden
   md:h-[550px];
  @variant dark {
    @apply bg-zinc-950;
  }
}
.card {
  @apply rounded-xl p-4 border-2 border-gray-200
  relative shadow-sm overflow-hidden;
  @variant dark {
    @apply border-gray-800;
  }
}

.watermark {
  @apply absolute w-2/5 top-0 right-0
  opacity-10 pointer-events-none;
}

.btn {
  @apply px-5 py-3 rounded-2xl border-1 text-neutral-900 font-medium shadow-md transition-smooth;
  &:hover {
    @apply shadow-lg border-cyan-400 scale-[1.02];
  }
  @variant dark {
    @apply text-neutral-100;
    &:hover {
      @apply shadow-lg border-cyan-400 scale-[1.02];
    }
  }
}
.gradient-btn {
  @apply px-5 py-3 rounded-2xl text-neutral-100 font-medium
    bg-gradient-to-r from-cyan-500 via-blue-500 to-indigo-600
    transition-smooth shadow-md;

  &:hover {
    @apply shadow-lg from-cyan-400 via-blue-400 to-indigo-500 scale-[1.02];
  }

  @variant dark {
    @apply from-cyan-400 via-sky-400 to-blue-500;
    &:hover {
      @apply shadow-lg from-cyan-500 via-blue-500 to-indigo-600 scale-[1.02];
    }
  }
}

.tag {
  @apply text-sm px-2 py-2 rounded-2xl border-1 border-gray-200;
  @variant dark {
    @apply border-gray-800;
  }
}

/*Mouse scroll in Home*/
.mouse-btn {
  @apply flex w-5 h-10
  rounded-2xl border-2 border-slate-700;
  @variant dark {
    @apply border-sky-400;
  }
}

.mouse-scroll {
  @apply block w-2.5 h-2.5 m-auto
  rounded-[50%]
  bg-gradient-to-br from-cyan-400 via-sky-400 to-blue-500;
  @variant dark {
    @apply from-cyan-400 via-sky-400 to-blue-500;
  }
}

.navbar {
  @apply p-4 mt-6 max-w-[550px] mx-auto 
  rounded-2xl 
  bg-gradient-to-r from-cyan-500/10 via-blue-500/20 to-indigo-600/20;
  @variant dark {
    @apply from-cyan-400/20 via-sky-400/20 to-blue-500/20;
  }
}

.scrollToTop {
  @apply fixed bottom-6 right-6 p-3 rounded-full
        bg-gradient-to-r from-cyan-500 to-blue-600
        text-white shadow-lg
        transition-all duration-500 ease-in-out 
        hover:scale-x-110 hover:scale-y-110;

  @variant dark {
    @apply from-cyan-400 via-sky-400 to-blue-500;
  }
}
